src/flows/sharinpix_flow-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>photos_added_decison</name>
        <label>photos_added_decison</label>
        <locationX>624</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>Photos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>photos_added_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>photos_added</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>thank_you</targetReference>
            </connector>
            <label>photos_added_true</label>
        </rules>
    </decisions>
    <interviewLabel>sharinpix_flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sharinpix_flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>create</name>
        <label>create</label>
        <locationX>439</locationX>
        <locationY>319</locationY>
        <assignRecordIdToReference>case_id</assignRecordIdToReference>
        <connector>
            <targetReference>Photos</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>case_subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Photos</name>
        <label>Photos</label>
        <locationX>439</locationX>
        <locationY>451</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>photos_added_decison</targetReference>
        </connector>
        <fields>
            <name>photos_descriptions</name>
            <fieldText>Please add some photos</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>case_id_diplay</name>
            <fieldText>{!case_id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>thank_you</name>
        <label>thank_you</label>
        <locationX>542</locationX>
        <locationY>762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>thanks</name>
            <fieldText>Thanks</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>383</locationX>
        <locationY>167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create</targetReference>
        </connector>
        <fields>
            <name>welcome_text</name>
            <fieldText>Welcome</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>case_subject</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;subject&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Welcome</startElementReference>
    <variables>
        <name>case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>case_subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>photos_added</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
